<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h2>SPORTS STORE</h2>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="container-fluid">


      <div class="row">
          <div class="col bg-primary text-white col-12">
              <a class="navbar-brand text-light" [routerLink]="['/']">Your cart detaills</a>
            </div>
        </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Quantity</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of cart.lines">
          <td><input type="number" class="form-control-sm"  style="width:5em"
                                   [value]="line.quantity"   (change)="cart.updateQuantity(line.product,
                                $event.target.value)" /></td>
          <td>{{line.product.name}}</td>
          <td>{{line.product.price | currency:"GBP":"symbol":"2.2-2"}}</td>
          <td>{{(line.lineTotal) | currency:"GBP":"symbol":"2.2-2" }}</td>
          <td>  <button class="btn btn-sm btn-warning"                       (click)="cart.removeLine(line.product.id)">
                              Remove
                            </button></td>
        </tr>

      </tbody>
    </table>

      <div class="row">
          <div class="col">
            <div class="text-center">
                <button class="btn btn-primary m-1" routerLink="/store">
                      Continue Shopping
                  </button>
                <button class="btn btn-secondary m-1" routerLink="/checkout"
                          [disabled]="cart.lines.length == 0">
                    Checkout
                  </button>
              </div>
          </div>
    </div>
  </div>
