<div class="container">
  <div class="col-lg-8 border p-3 main-section bg-white">
    <div class="row hedding m-0 pl-3 pt-0 pb-3">
      SPORTS STORE
    </div>
    <div class="row m-0">
      <div class="col-lg-4 left-side-product-box pb-3">
        <img src="../../assets/img/{{product?.id}}.jpeg"
          class="border p-3">
        <span class="sub-img">
          <img src="../../assets/img/{{product?.id}}.jpeg"
            class="border p-2">
          <img src="../../assets/img/{{product?.id}}.jpeg"
            class="border p-2">
          <img src="../../assets/img/{{product?.id}}.jpeg"
            class="border p-2">
        </span>
      </div>
      <div class="col-lg-8">
        <div class="right-side-pro-detail border p-3 m-0">
          <div class="row">
            <div class="col-lg-12">
              <p class="m-0 p-0"> {{product?.name}}</p>
            </div>
            <div class="col-lg-12">
              <p class="m-0 p-0 price-pro">{{product?.price | currency:"GBP":"symbol":"2.2-2"}}</p>
              <hr class="p-0 m-0">
            </div>
            <div class="col-lg-12 pt-2">
              <h5>Product Detail</h5>
              <span>{{product?.description}}</span>
              <hr class="m-0 pt-2 mt-2">
            </div>

            <div class="col-lg-12">
              <h6>Quantity :</h6>
              <input type="number"
                name="cantidad"
                ngModel
                #cantidad="ngModel"
                class="form-control text-center w-100">
            </div>
            <div class="col-lg-12 mt-3">
              <div class="row">
                <div class="col-lg-4 pb-2">
                  <a  (click)="addProductToCart(product, cantidad.value)"
                    class="btn btn-primary w-100">Add To Cart</a>
                </div>
                <div class="col-lg-4">
                  <span *ngIf="cart.itemCount > 0">
                    <a  (click)="goToCheckOut()"
                      class="btn btn-success w-100">Checkout</a>
                  </span>
                </div>
                <div class="col-lg-4">
                  <a [routerLink]="['/store']"
                    class="btn btn-success w-100">Go Shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
