<div class="row"
  style=" justify-content:center;">
  <h1>Product List</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col"
        class="">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of getProducts()">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.category}}</td>
      <td>{{p.price | currency: "GBP":"symbol":"2.2-2" }}</td>
      <td> <button class="btn btn-sm btn-warning m-1"
          [routerLink]="['/admin/main/products/edit', p.id]">
                              Edit                 
        </button>
         <button class="btn btn-sm btn-danger"
          (click)="deleteProduct(p.id)">
                              Delete                 
        </button>
      </td>
    </tr>

  </tbody>
</table>
